.message {
  display: flex;
  align-items: center;
  padding: 12px;
  color: white;
  border-bottom:1px solid lightgray;
}
.message__info {
  margin-left: 20px;
}
.message__timestamp {
  color: gray;
  margin-left: 20px;
  font-size: x-small;
}
